biometrics/
test.ipynb
Pipfile.lock
Pipfile
.gitignore
samples/
biometrics/reference_image.jpg
samples/Admin_area.png
samples/Overview of Virtual TimeClock.mp4
samples/password_login.png
samples/pin_login.png
samples/report.png
samples/sample-logos.png